<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Cgi.models" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Django4_Projects\Permuta.git\saude-permuta\venv\Scripts\python.exe|C:\Django4_Projects\Permuta.git\saude-permuta\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Django4_Projects\Permuta.git\saude-permuta\"/>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"/>
        <add key="DJANGO_SETTINGS_MODULE" value="Progressao.settings" />
    </appSettings>)

</configuration>
