{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<h3> Cadastro</h3>
<p class="lead">
    Preencher todos os campos obrigatorios.
</p>

<hr>

<form action="" method="POST">

    {% csrf_token %}
    {{ form|crispy }}    
    <div class="form-row">
        <button type="submit" class="btn btn-primary btn-block">Salvar</button>
    </div>

</form>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#id_telefone').mask("(00)00000000000");
        $('#id_dataNascimento').mask("00/00/0000");
        $('#id_cns').mask("000.0000.0000.0000");

        $('#id_cns').keypress(function () {
            if ($('#id_cns').val().length < 18) {
                changeBorderGreen();
                limpaElementos();
                disableSubmit()
            } else if ($('#id_cns').val().length == 18) {
                enableSubmit()
            }
        })

        $('#id_cns').focusout('change', function () {
            var cns = $('#id_cns').val();
            cns = cns.replace(/[^0-9]/, "").replace(/[^0-9]/, "").replace(/[^0-9]/, "");
            var token = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                url: "{% url 'verifica-cns' %}",
                type: 'post',
                data: {
                    'cns': cns,
                    'csrfmiddlewaretoken': token,
                },
                success: function (response) {
                    limpaElementos()
                    if (response.status == true) {
                        var template = "<div class='invalid-feedback pacienteExistente' id='pacienteExistente'><i class='fas fa-exclamation-triangle'></i><strong> Paciente já existe.</strong></div>"
                        changeBorderred;
                        document.getElementById('id_cns').insertAdjacentHTML("afterend", template)
                        document.getElementById('pacienteExistente').style.display = 'block';
                        disableSubmit()
                    } else if (response.status == false) {
                        changeBorderGreen()
                        enableSubmit()

                    }
                },
                error: function (response) {
                    console.log("Você não tem permissão para essa ação.")
                }
            });
        });

        function changeBorderred(){
            var element = document.getElementById("id_cns");
            element.style.borderColor = "red;  font-weight: bold;";;
        }

        function changeBorderGreen() {
            var element = document.getElementById("id_cns");
            element.style.borderColor = "green";;
        }

        function limpaElementos() {
            var lista = document.getElementsByClassName("pacienteExistente");
            for (var i = lista.length - 1; i >= 0; i--) {
                lista[i].remove()
            }
        }

        function enableSubmit() {
            $('button[type=submit]').attr('disabled', false);
        }

        function disableSubmit() {
            $('button[type=submit]').attr('disabled', 'disabled');
        }
    });

// var JavaScriptObfuscator = require('javascript-obfuscator');

// var obfuscationResult = JavaScriptObfuscator.obfuscate(
//     `
//     $('#id_telefone').mask("(00)00000000000");
//         $('#id_dataNascimento').mask("00/00/0000");
//         $('#id_cns').mask("000.0000.0000.0000");

//         $('#id_cns').keypress(function () {
//             if ($('#id_cns').val().length < 18) {
//                 changeBorderGreen();
//                 limpaElementos();
//                 disableSubmit()
//             } else if ($('#id_cns').val().length == 18) {
//                 enableSubmit()
//             }
//         })

//         $('#id_cns').focusout('change', function () {
//             var cns = $('#id_cns').val();
//             cns = cns.replace(/[^0-9]/, "").replace(/[^0-9]/, "").replace(/[^0-9]/, "");
//             var token = $('[name="csrfmiddlewaretoken"]').val();
//             $.ajax({
//                 url: "{% url 'verifica-cns' %}",
//                 type: 'post',
//                 data: {
//                     'cns': cns,
//                     'csrfmiddlewaretoken': token,
//                 },
//                 success: function (response) {
//                     limpaElementos()
//                     if (response.status == true) {
//                         var template = "<div class='invalid-feedback pacienteExistente' id='pacienteExistente'><i class='fas fa-exclamation-triangle'></i><strong> Paciente já existe.</strong></div>"
//                         changeBorderred; font - weight: bold; ()
//                         document.getElementById('id_cns').insertAdjacentHTML("afterend", template)
//                         document.getElementById('pacienteExistente').style.display = 'block';
//                         disableSubmit()
//                     } else if (response.status == false) {
//                         changeBorderGreen()
//                         enableSubmit()

//                     }
//                 },
//                 error: function (response) {
//                     console.log("Você não tem permissão para essa ação.")
//                 }
//             });
//         });

//         function changeBorderred; font - weight: bold; (){
//             var element = document.getElementById("id_cns");
//             element.style.borderColor = "red;  font-weight: bold;";;
//         }

//         function changeBorderGreen() {
//             var element = document.getElementById("id_cns");
//             element.style.borderColor = "green";;
//         }

//         function limpaElementos() {
//             var lista = document.getElementsByClassName("pacienteExistente");
//             for (var i = lista.length - 1; i >= 0; i--) {
//                 lista[i].remove()
//             }
//         }

//         function enableSubmit() {
//             $('button[type=submit]').attr('disabled', false);
//         }

//         function disableSubmit() {
//             $('button[type=submit]').attr('disabled', 'disabled');
//         }
//     `,
//     {
//         compact: false,
//         controlFlowFlattening: true,
//         controlFlowFlatteningThreshold: 1,
//         numbersToExpressions: true,
//         simplify: true,
//         stringArrayShuffle: true,
//         splitStrings: true,
//         stringArrayThreshold: 1
//     }
// );

// console.log(obfuscationResult.getObfuscatedCode());
</script>
{% endblock %}


{% block rodape-links %}

{% endblock %}