{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<h4 class="text-center">
    Malote saída
</h4>
<hr>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="agendados-tab" data-toggle="tab" href="#agendados" role="tab"
            aria-controls="agendados" aria-selected="true"><b>Agendados</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="devolvidos-tab" data-toggle="tab" href="#devolvidos" role="tab" aria-controls="devolvidos"
            aria-selected="true"><b>Devolvido</b></a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active py-5" id="agendados" role="tabpanel" aria-labelledby="agendados-tab">
        <div class="table-responsive">
            <table class="table" id="tabela-agendados">
                <form action="" method="POST">
                    {%csrf_token%}
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>SUS</th>
                            <th>Procedimento</th>
                            <th>Data do agendamento</th>
                            <th>Local</th>
                            <th>Recebido</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        {% for maloteSaida in object_list %}
                            {% if maloteSaida.statusProcesso == 7 and maloteSaida.agendado == 1 %}
                                <tr>
                                    <td>
                                        {{maloteSaida.nome}}
                
                                    </td>
                
                                    <td>{{maloteSaida.sus}}</td>
                
                                    <td class="cortar-texto" data-toggle="tooltip" title="{{maloteSaida.procedimento}}">{{maloteSaida.procedimento}}</td>
                
                                    <td>{{maloteSaida.agendamentoData|date:"d/m/Y"}} às {{maloteSaida.agendamentoData|date:" H:i"}}</td>
                
                                    <td>{{maloteSaida.localAgendamento}}</td>

                                    {% if maloteSaida.recebidoPelaUnidade == 0 %}
                                    <td>
                                        <input type="checkbox" class="recebido" id="scanner{{maloteSaida.id}}" name="recebido" value="{{maloteSaida.id}}">
                                    </td>
                                    {% elif maloteSaida.recebidoPelaUnidade == 1 %}
                                    <td data-toggle="tooltip" title="Recebido dia {{maloteSaida.recebido_at}}">
                                        <input type="checkbox" class="recebido" id="scanner{{maloteSaida.id}}" name="recebido" value="{{maloteSaida.id}}" checked>
                                    </td>
                                    {% endif %}
                
                                </tr>
                            {%endif%}
                        {% endfor %}
                    </tbody>
                </form>
            </table>
        </div>
    </div>
    <div class="tab-pane fade py-5" id="devolvidos" role="tabpanel" aria-labelledby="devolvidos-tab">
        <div class="table-responsive">
            <table class="table" id="tabela-devolvidos">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>SUS</th>
                        <th>Procedimento</th>
                        <th>Motivo</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for maloteSaida in object_list %}
                        {% if maloteSaida.statusProcesso == 4 %}
                            <tr>
                                <td>{{maloteSaida.nome}}</td>
            
                                <td>{{maloteSaida.sus}}</td>
            
                                <td class="cortar-texto" data-toggle="tooltip" title="{{maloteSaida.procedimento}}">{{maloteSaida.procedimento}}</td>
                                
                                {%if maloteSaida.justificativa == 1%}
                                    <td>Devolvido</td>
                                {%elif maloteSaida.justificativa == 2%}
                                    <td>Faltam Dados/Exames</td>
                                {% elif maloteSaida.justificativa == 3%}
                                    <td>Preencher APAC</td>
                                {% elif maloteSaida.justificativa == 4%}
                                    <td>Agendamento é realizado pela unidade </td>
                                {% elif maloteSaida.justificativa == 5%}
                                    <td>Falta carta de sedação </td>
                                {% elif maloteSaida.justificativa == 6%}
                                    <td>Encaminhar para assistente social</td>
                                {% elif maloteSaida.justificativa == 7%}
                                    <td>Encaminhar para planejamento familiar</td>
                                {% elif maloteSaida.justificativa == 8%}
                                    <td >Encaminhar para ambulatório de especialidades</td>
                                {% elif maloteSaida.justificativa == 9%}
                                    <td>Encaminhar/Retorno no HUSF </td>
                                {% elif maloteSaida.justificativa == 10%}
                                    <td>Falta autorização para retirada do exame no AME </td>
                                {% elif maloteSaida.justificativa == 11%}
                                    <td>Encaminhar para centro de reabilitação(FISIO) </td>
                                {% elif maloteSaida.justificativa == 12%}
                                    <td>Guia e cadweb de pacientes diferentes</td>
                                {% elif maloteSaida.justificativa == 13%}
                                <td>Encaminhar para saúde mental infantil</td>
                                {% elif maloteSaida.justificativa == 14%}
                                    <td>Inserir no CDR e fila de espera</td>
                                {% elif maloteSaida.justificativa == 15%}
                                    <td>Não veio no malote</td>
                                {% elif maloteSaida.justificativa == 16%}
                                    <td>Atualização de cadastrovolvido</td>
                                {%endif%}
            
                            </tr>
                        {%endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}







{% block scripts %}
<script>

    $('#id_paciente').select2();

    $(".table").DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 100,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });

    function PesquisaModalInformacoes() {
        var input, filter, ul, li, a, i, txtValue, hr;
        input = document.getElementById("pesquisaInformacoes");
        filter = input.value.toUpperCase();
        ul = document.getElementById("divDeInformacoes");
        li = ul.getElementsByTagName("li");
        hr = ul.getElementsByTagName("hr");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
                hr[i].style.display = "none";
            }
        }
    };

    $('.recebido').click(function() {
        var maloteId = $(this).val()

        var token = $('[name="csrfmiddlewaretoken"]').val();
        console.log(token)
        $.ajax({
            url: "{% url 'update-maloteSaida-recebidoPelaUnidade' %}",
            type: 'post',
            data: {
                'id': maloteId,
                'csrfmiddlewaretoken': token,
            },
            success: function (response){
                if (response.status == false){
                    $('.recebido', response.id).prop('checked', false);
                } else if(response.status == true){
                    $('.recebido',response.id).prop('checked', true);
                }
            },
            error: function (response) {
                console.log("Você não tem permissão para essa ação.")
            }
        });
    });
</script>
{% endblock %}

{% block rodape-links %}

{% endblock %}