{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<div class="container">
    <h3>Ajuda</h3>    
    <p class="lead" id="tuche"><strong>Callcenter:</strong></p>
    <p class="mb-5"> para dúvidas relacionadas ao gerenciamento de vagas e uso do sistema.</p>
    <p class="lead"><strong>Equipe de Desenvolvimento de Sistemas:</strong></p>
    <p> Para problemas relacionados a criação de novos usuários, erros de funcionamento e sugestões melhorias.</p>
</div>
{% endblock %}
