{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<div class="container">
    <h3>Sobre</h3>    
    <section>
        <div class="row mb-3    ">
            <div class="col-12">A Secretaria Municipal da Saúde é o órgão responsável pelas atividades de assistência
                médico-social, ambulatorial, hospitalar, farmacêutica e odontológica à população local, mediante a
                administração de postos de saúde, prontos-socorros e atividades correlatas, além do estudo, viabilização
                e execução de campanhas de higiene pública e medicina preventiva e de registros, vacinação e captura de
                agentes portadores de doenças transmissíveis, com a finalidade precípua de erradicação de moléstias de
                que possam ser portadores ou transmissores, e cuida ainda da vigilância sanitária como um todo, com
                vistas aos controles epidêmicos, endêmicos e zoonoses.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Endereço: Praça Hafiz Abi Chedid, 125 (fundos) - Jardim Améria - CEP 12902-230</p>
                <p>Atendimento ao público: segunda a sexta, das 8h às 17h.</p>
            </div>
        </div>

    </section>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>







</div>


{% endblock %}