{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}

{% if message %}
    <div class="alert alert-primary">{{ message }}</div>
{% endif %}

<h3 class="text-center">
     <i class="fa fa-clipboard-list"></i> Listar Mudança de Classificação de Risco
    <a href="{% url 'classificacaoRisco_create' %}" class="btn btn-primary btn-sm float-right"><i class="fa fa-plus"></i> Adicionar</a>
</h3>

<hr>

<div class="table-responsive">
    <table class="table table-striped" id="tabela-listar">
        <thead>
            <tr>
                <th>Data Solicitação</th>
                <th>Cód. Solicitação</th>
                <th>Cns</th>
                <th>Paciente</th>
                <th>Procedimento</th>
                <th>Unidade Executante</th>
                <th>Status</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for classificacaoRisco in object_list %}
                <tr>
                    <td>{{ classificacaoRisco.created_at|date:"d/m/Y" }}</td>
                    <td>{{ classificacaoRisco.codSolicitacao }}</td>
                    <td>{{ classificacaoRisco.paciente.cns }}</td>
                    <td>{{ classificacaoRisco.paciente }}</td>
                    <td>{{ classificacaoRisco.procedimento }}</td>
                    <td>{{ classificacaoRisco.unidadeExecutante }}</td>
                    {% if classificacaoRisco.status == 1 %}
                        <td><span class="badge badge-pill badge-warning">Aguardando análise</span></td>
                    {% endif %}
                    <td>
<!--                        <a href= "#" class="btn btn-warning btn-sm" title="Editar">-->
<!--                            <i class="fa fa-pencil" aria-hidden="true"></i>-->
<!--                        </a>-->
                        {% if classificacaoRisco.file %}
                        <a href= "{% url 'analisar_anexo' classificacaoRisco.pk %}" class="btn btn-sm text-primary" title="Analisar pedido" data-toggle="tooltip">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                        {% for group in request.user.groups.all %}
                            {% if group.name == 'administrator' or group.name == 'callcenter'%}
                                <a href="#" class="btn btn-danger btn-sm" title="Excluir">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="7">Nenhum registro encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $body = $("body");    
    $(document).ready(function(){    
        $("#tabela-listar").DataTable({
            responsive: true,           
            "pageLength": 10,
            "language": {                
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                // "info": false,
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "search": "Pesquisar",
                'searchPlaceholder': 'Pesquisar',
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",                
                "search": '',
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            },            
        });
    });
</script>
{% endblock %}

{% block rodape-links %}

{% endblock %}


