{% extends 'paginas/modelo-ifpr.html' %}

{% load static %}

{% block conteudo %}
<h4 class="text-center">
    <i class="fa fa-house-chimney-medical"></i> Configurações
    <a href="{% url 'list-estabelecimentos' %}" class="btn btn-primary btn-sm float-right">Voltar</a>
</h4>

<hr>

<div class="    ">
    <div class="container">
     	<div class="row">
		    <div class="col-lg-5 col-12 text-center card p-4 m-4">
				<div class="box">
                    <i class="fa fa-cog fa-3x mb-4" aria-hidden="true"></i>
					<div class="box-title">
						<h3>Configurar Estabelecimento</h3>
					</div>					
				 </div>
			</div>
			<div class="col-lg-5 col-12 text-center card p-4 m-4 ">
				<div class="box">
                    <i class="fa fa-calendar-days fa-3x mb-4" aria-hidden="true"></i>
					<div class="box-title">
						<h3>Configurar Agenda</h3>
					</div>
				 </div>
			</div>
		</div>		
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    $('#id_paciente').select2();

    $("#tabela-listar").DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 100,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });

</script>
{% endblock %}

{% block rodape-links %}

{% endblock %}